<section id="simple" class="row">
    <h2 class="two columns mobile-one">Hello, World</h2>
    <div class="two columns mobile-one">
        <dl class="right tabs pill small">
            <dd class="active"><a href="#example1">Example</a></dd>
            <dd><a href="#code1">Code</a></dd>
        </dl>
    </div>
    <div class="four columns mobile-two">
        <ul class="tabs-content">
            <li class="active" id="example1Tab">
                <div class="gmap" id="gmap"></div>
            </li>
            <li class="code" id="code1Tab">
<h3>JS</h3>
<pre class="prettyprint">
var maplace = new Maplace();
maplace.Load();
// or new Maplace().Load();
</pre>
<h3>Html</h3>
<pre class="prettyprint">
&lt;div id="gmap"&gt;&lt;/div&gt;
</pre>
            </li>
        </ul>
    </div>
    <div class="four columns mobile-two"><div class="line"></div></div>
</section>
